{% extends "base.html" %}
{% block title %}Recover :: {{settings.app_title}}{% endblock %}
{% block header %}Recover account{% endblock %}

{% block content %}

  <!-- Email Field -->
  
  <div class="field">
    <label class="label">Email</label>
    <div class="control">
      <input class="input" id="username" type="text" placeholder="me@example.com">
    </div>
  </div>

  {% if settings.turnstile_sitekey %}
    <div class="cf-turnstile" data-sitekey="{{settings.turnstile_sitekey}}"></div>
    <script src="https://challenges.cloudflare.com/turnstile/v0/api.js" defer></script>
  {%endif %}

  {% if error %}
  <!-- Error Message -->
  <p class="error-message">{{error}}</p>
  {% endif %}

  <!-- Login Button -->
  <div class="field">
    <div class="control">
      <button id="fastapi-simple-auth-send-recover-btn" class="button is-primary is-fullwidth">Send recovery mail</button>
    </div>
  </div>

  <!-- Sign Up -->
  <div class="sign-up has-text-centered">
    <p>Recalled password? <a href="{{ rq.url_for('get_login') }}">Log in</a></p>
  </div>

  <!-- Sign Up -->
  <div class="sign-up has-text-centered">
    <p>Don't have an account? <a href="{{ rq.url_for('get_signup') }}">Sign Up</a></p>
  </div>


{% endblock %}
